#book-grid {
    display: grid;
    width: 70vw;
    height: auto;
    margin: auto;
    grid-template-columns: repeat(4, 20%);
    grid-gap: 5%;
    padding-bottom: 30px;
}

.book-box {
    border-style: solid;
    border-color: red;
}

.book-thumb {
    width: 150px;
    height: auto;
    margin-bottom: 5px;
}