#highlighted-book {
    width: 60vw;
    background-color: #f8f9fa;
    margin: auto;
}

#bookimg {
    width: 30%;
    height: auto;
}

#uploadedby {
    border-style: solid;
    border-color: blue;
}