#faves-list {
    width: 70vw;
    margin: auto;
}

.book-thumb {
    width: 150px;
    height: auto;
    margin-bottom: 5px;
}

.badge {
    cursor: pointer;
    background-color: rgb(59, 59, 201);
    margin: 4px;
    border-radius: 32px;
    width: 60px;
  }